.slider {
  position: relative;
  height: 90vh;
  width: 100vw;
  overflow: hidden;
  
}

.wrapper {
  display: flex;
  height: 100%;
  transition: transform 1.5s ease-in-out;
}

.each-slide {
  min-width: 100vw;
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45); /* dark transparent overlay */
    z-index: 1;
}


.arrow {
  position: absolute;
  top: 50%;
  font-size: 45px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 5;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

.dots {
  position: absolute;
  bottom: 25px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
  list-style: none;
}

.dots li {
  width: 12px;
  height: 12px;
  background: #ffffff70;
  border-radius: 50%;
  cursor: pointer;
}

.dots .active {
  background: #fff;
}

.toggle-play {
  position: absolute;
  bottom: 25px;
  right: 25px;
  font-size: 24px;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-shadow: 0px 4px 12px rgba(0,0,0,0.8);
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
}

.slide-text h2 {
    font-size: 3.5rem;
    font-weight: bold;
    text-shadow: 0px 4px 18px rgba(0,0,0,0.9);
}

.slide-text p {
    font-size: 1.7rem;
    text-shadow: 0px 4px 12px rgba(0,0,0,0.8);
}